
    html {
        font-family: sans-serif;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%
    }

    body {
        margin: 0
    }

    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    main,
    menu,
    nav,
    section,
    summary {
        display: block
    }

    a {
        background-color: transparent
    }

    a:active,
    a:hover {
        outline: 0
    }

    b,
    strong {
        font-weight: 700
    }

    h1 {
        font-size: 2em;
        margin: .67em 0
    }

    small {
        font-size: 80%
    }

    img {
        border: 0
    }

    hr {
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        height: 0
    }

    pre {
        overflow: auto
    }

    code,
    kbd,
    pre,
    samp {
        font-family: monospace, monospace;
        font-size: 1em
    }

    button,
    input,
    optgroup,
    select,
    textarea {
        color: inherit;
        font: inherit;
        margin: 0
    }

    button {
        overflow: visible
    }

    button,
    select {
        text-transform: none
    }

    button,
    html input[type="button"],
    input[type="reset"],
    input[type="submit"] {
        -webkit-appearance: button;
        cursor: pointer
    }

    button[disabled],
    html input[disabled] {
        cursor: default
    }

    button::-moz-focus-inner,
    input::-moz-focus-inner {
        border: 0;
        padding: 0
    }

    input {
        line-height: normal
    }

    input[type="checkbox"],
    input[type="radio"] {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        height: auto
    }

    input[type="search"] {
        -webkit-appearance: textfield;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box
    }

    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-decoration {
        -webkit-appearance: none
    }

    textarea {
        overflow: auto
    }

    table {
        border-collapse: collapse;
        border-spacing: 0
    }

    td,
    th {
        padding: 0
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }

    :before,
    :after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }

    input,
    button,
    select,
    textarea {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit
    }

    a {
        text-decoration: none
    }

    a:hover,
    a:focus {
        text-decoration: underline
    }

    a:focus {
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px
    }

    img {
        vertical-align: middle
    }

    hr {
        margin-top: 20px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #eee
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0
    }

    .sr-only-focusable:active,
    .sr-only-focusable:focus {
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        clip: auto
    }

    [role="button"] {
        cursor: pointer
    }

    fieldset {
        padding: 0;
        margin: 0;
        border: 0;
        min-width: 0
    }

    legend {
        display: block;
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
        font-size: 21px;
        line-height: inherit;
        color: #333;
        border: 0;
        border-bottom: 1px solid #e5e5e5
    }

    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
        font-size: 14px
    }

    input[type="search"] {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }

    input[type="radio"],
    input[type="checkbox"] {
        margin: 4px 0 0;
        margin-top: 1px;
        line-height: normal
    }

    input[type="file"] {
        display: block
    }

    input[type="range"] {
        display: block;
        width: 100%
    }

    select[multiple],
    select[size] {
        height: auto
    }

    input[type="file"]:focus,
    input[type="radio"]:focus,
    input[type="checkbox"]:focus {
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px
    }

    output {
        display: block;
        padding-top: 7px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555
    }

    .form-control {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
    }

    .form-control:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6)
    }

    .fosrm-control::-moz-placeholder {
        color: #999;
        opacity: 1
    }

    .form-control:-ms-input-placeholder {
        color: #999
    }

    .form-control::-webkit-input-placeholder {
        color: #999
    }

    .form-control::-ms-expand {
        border: 0;
        background-color: transparent
    }

    .form-control[disabled],
    .form-control[readonly],
    fieldset[disabled] .form-control {
        background-color: #eee;
        opacity: 1
    }

    .form-control[disabled],
    fieldset[disabled] .form-control {
        cursor: not-allowed
    }

    textarea.form-control {
        height: auto
    }

    input[type="search"] {
        -webkit-appearance: none
    }

    .form-group {
        margin-bottom: 15px
    }

    .radio,
    .checkbox {
        position: relative;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px
    }

    .radio label,
    .checkbox label {
        min-height: 20px;
        padding-left: 20px;
        margin-bottom: 0;
        font-weight: 400;
        cursor: pointer
    }

    .radio input[type="radio"],
    .radio-inline input[type="radio"],
    .checkbox input[type="checkbox"],
    .checkbox-inline input[type="checkbox"] {
        position: absolute;
        margin-left: -20px;
        margin-top: 4px
    }

    input[type="radio"][disabled],
    input[type="checkbox"][disabled],
    input[type="radio"].disabled,
    input[type="checkbox"].disabled,
    fieldset[disabled] input[type="radio"],
    fieldset[disabled] input[type="checkbox"] {
        cursor: not-allowed
    }

    .radio-inline.disabled,
    .checkbox-inline.disabled,
    fieldset[disabled] .radio-inline,
    fieldset[disabled] .checkbox-inline {
        cursor: not-allowed
    }

    .radio.disabled label,
    .checkbox.disabled label,
    fieldset[disabled] .radio label,
    fieldset[disabled] .checkbox label {
        cursor: not-allowed
    }

    .form-control-static {
        padding-top: 7px;
        padding-bottom: 7px;
        margin-bottom: 0;
        min-height: 34px
    }

    .form-control-static.input-lg,
    .form-control-static.input-sm {
        padding-left: 0;
        padding-right: 0
    }

    .input-sm {
        height: 30px;
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px
    }

    select.input-sm {
        height: 30px;
        line-height: 30px
    }

    textarea.input-sm,
    select[multiple].input-sm {
        height: auto
    }

    .input-lg {
        height: 46px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 6px
    }

    select.input-lg {
        height: 46px;
        line-height: 46px
    }

    textarea.input-lg,
    select[multiple].input-lg {
        height: auto
    }

    .has-feedback {
        position: relative
    }

    .has-feedback .form-control {
        padding-right: 42.5px
    }

    .has-success .control-label,
    .has-success .radio,
    .has-success .checkbox,
    .has-success .radio-inline,
    .has-success .checkbox-inline,
    .has-success.radio label,
    .has-success.checkbox label,
    .has-success.radio-inline label,
    .has-success.checkbox-inline label {
        color: #3c763d
    }

    .has-success .form-control {
        border-color: #3c763d;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
    }

    .has-success .form-control:focus {
        border-color: #2b542c;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168
    }

    .has-error .control-label,
    .has-error .radio,
    .has-error .checkbox,
    .has-error .radio-inline,
    .has-error .checkbox-inline,
    .has-error.radio label,
    .has-error.checkbox label,
    .has-error.radio-inline label,
    .has-error.checkbox-inline label {
        color: #a94442
    }

    .has-error .form-control {
        border-color: #a94442;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
    }

    .has-error .form-control:focus {
        border-color: #843534;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483
    }

    .btn {
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        border-radius: 4px
    }

    .btn:focus,
    .btn:active:focus,
    .btn.active:focus,
    .btn.focus,
    .btn:active.focus,
    .btn.active.focus {
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px
    }

    .btn:hover,
    .btn:focus,
    .btn.focus {
        color: #333;
        text-decoration: none
    }

    .btn:active,
    .btn.active {
        outline: 0;
        background-image: none;
        -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
    }

    .btn.disabled,
    .btn[disabled],
    fieldset[disabled] .btn {
        cursor: not-allowed;
        opacity: .65;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .btn-default {
        color: #333;
        background-color: #fff;
        border-color: #ccc
    }

    .btn-default:focus,
    .btn-default.focus {
        color: #333;
        background-color: #e6e6e6;
        border-color: #8c8c8c
    }

    .btn-default:hover {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad
    }

    .btn-default:active,
    .btn-default.active,
    .open>.dropdown-toggle.btn-default {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad
    }

    .btn-default:active:hover,
    .btn-default.active:hover,
    .open>.dropdown-toggle.btn-default:hover,
    .btn-default:active:focus,
    .btn-default.active:focus,
    .open>.dropdown-toggle.btn-default:focus,
    .btn-default:active.focus,
    .btn-default.active.focus,
    .open>.dropdown-toggle.btn-default.focus {
        color: #333;
        background-color: #d4d4d4;
        border-color: #8c8c8c
    }

    .btn-default:active,
    .btn-default.active,
    .open>.dropdown-toggle.btn-default {
        background-image: none
    }

    .btn-default.disabled:hover,
    .btn-default[disabled]:hover,
    fieldset[disabled] .btn-default:hover,
    .btn-default.disabled:focus,
    .btn-default[disabled]:focus,
    fieldset[disabled] .btn-default:focus,
    .btn-default.disabled.focus,
    .btn-default[disabled].focus,
    fieldset[disabled] .btn-default.focus {
        background-color: #fff;
        border-color: #ccc
    }

    .btn-lg {
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 6px
    }

    .btn-sm {
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px
    }

    .btn-xs {
        padding: 1px 5px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px
    }

    .btn-block {
        display: block;
        width: 100%
    }

    .btn-block+.btn-block {
        margin-top: 5px
    }

    input[type="submit"].btn-block,
    input[type="reset"].btn-block,
    input[type="button"].btn-block {
        width: 100%
    }

    .fade {
        opacity: 0;
        -webkit-transition: opacity .15s linear;
        -o-transition: opacity .15s linear;
        transition: opacity .15s linear
    }

    .fade.in {
        opacity: 1
    }

    .collapse {
        display: none
    }

    .collapse.in {
        display: block
    }

    tr.collapse.in {
        display: table-row
    }

    tbody.collapse.in {
        display: table-row-group
    }

    .collapsing {
        position: relative;
        height: 0;
        overflow: hidden;
        -webkit-transition-property: height, visibility;
        -o-transition-property: height, visibility;
        transition-property: height, visibility;
        -webkit-transition-duration: .35s;
        -o-transition-duration: .35s;
        transition-duration: .35s;
        -webkit-transition-timing-function: ease;
        -o-transition-timing-function: ease;
        transition-timing-function: ease
    }

    .modal-open {
        overflow: hidden
    }

    .modal {
        display: none;
        overflow: hidden;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1050;
        -webkit-overflow-scrolling: touch;
        outline: 0
    }

    .modal.fade .modal-dialog {
        -webkit-transform: translate(0, -25%);
        -ms-transform: translate(0, -25%);
        -o-transform: translate(0, -25%);
        transform: translate(0, -25%);
        -webkit-transition: -webkit-transform .3s ease-out;
        -o-transition: -o-transform .3s ease-out;
        transition: transform .3s ease-out
    }

    .modal.in .modal-dialog {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    .modal-open .modal {
        overflow-x: hidden;
        overflow-y: auto
    }

    .modal-dialog {
        position: relative;
        width: auto;
        margin: 10px
    }

    .modal-content {
        position: relative;
        background-color: #fff;
        border: 1px solid #999;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
        box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        outline: 0
    }

    .modal-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        background-color: #000
    }

    .modal-backdrop.fade {
        opacity: 0;
        filter: alpha(opacity=0)
    }

    .modal-backdrop.in {
        opacity: .5;
        filter: alpha(opacity=50)
    }

    .modal-header {
        padding: 15px;
        border-bottom: 1px solid #e5e5e5
    }

    .modal-header .close {
        margin-top: -2px;
        background: none;
        border: none;
        float: right;
        font-size: 21px;
        color: #000;
        opacity: .2;
        padding: 0;
        font-weight: 700
    }

    .modal-title {
        margin: 0;
        line-height: 1.42857143
    }

    .modal-body {
        position: relative;
        padding: 15px
    }

    .modal-footer {
        padding: 15px;
        text-align: right;
        border-top: 1px solid #e5e5e5
    }

    .modal-footer .btn+.btn {
        margin-left: 5px;
        margin-bottom: 0
    }

    .modal-footer .btn-group .btn+.btn {
        margin-left: -1px
    }

    .modal-footer .btn-block+.btn-block {
        margin-left: 0
    }

    .modal-scrollbar-measure {
        position: absolute;
        top: -9999px;
        width: 50px;
        height: 50px;
        overflow: scroll
    }

    @media (min-width: 768px) {
        .modal-dialog {
            width: 600px;
            margin: 30px auto
        }

        .modal-content {
            -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
        }

        .modal-sm {
            width: 300px
        }
    }

    @media (min-width: 992px) {
        .modal-lg {
            width: 900px
        }
    }

    .container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px
    }

    @media (min-width: 768px) {
        .container {
            width: 750px
        }
    }

    @media (min-width: 992px) {
        .container {
            width: 970px
        }
    }

    @media (min-width: 1200px) {
        .container {
            width: 1170px
        }
    }

    .container-fluid {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px
    }

    .row {
        margin-left: -15px;
        margin-right: -15px
    }

    .col-xs-1,
    .col-sm-1,
    .col-md-1,
    .col-lg-1,
    .col-xs-2,
    .col-sm-2,
    .col-md-2,
    .col-lg-2,
    .col-xs-3,
    .col-sm-3,
    .col-md-3,
    .col-lg-3,
    .col-xs-4,
    .col-sm-4,
    .col-md-4,
    .col-lg-4,
    .col-xs-5,
    .col-sm-5,
    .col-md-5,
    .col-lg-5,
    .col-xs-6,
    .col-sm-6,
    .col-md-6,
    .col-lg-6,
    .col-xs-7,
    .col-sm-7,
    .col-md-7,
    .col-lg-7,
    .col-xs-8,
    .col-sm-8,
    .col-md-8,
    .col-lg-8,
    .col-xs-9,
    .col-sm-9,
    .col-md-9,
    .col-lg-9,
    .col-xs-10,
    .col-sm-10,
    .col-md-10,
    .col-lg-10,
    .col-xs-11,
    .col-sm-11,
    .col-md-11,
    .col-lg-11,
    .col-xs-12,
    .col-sm-12,
    .col-md-12,
    .col-lg-12 {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px
    }

    .col-xs-1,
    .col-xs-2,
    .col-xs-3,
    .col-xs-4,
    .col-xs-5,
    .col-xs-6,
    .col-xs-7,
    .col-xs-8,
    .col-xs-9,
    .col-xs-10,
    .col-xs-11,
    .col-xs-12 {
        float: left
    }

    .col-xs-12 {
        width: 100%
    }

    .col-xs-11 {
        width: 91.66666667%
    }

    .col-xs-10 {
        width: 83.33333333%
    }

    .col-xs-9 {
        width: 75%
    }

    .col-xs-8 {
        width: 66.66666667%
    }

    .col-xs-7 {
        width: 58.33333333%
    }

    .col-xs-6 {
        width: 50%
    }

    .col-xs-5 {
        width: 41.66666667%
    }

    .col-xs-4 {
        width: 33.33333333%
    }

    .col-xs-3 {
        width: 25%
    }

    .col-xs-2 {
        width: 16.66666667%
    }

    .col-xs-1 {
        width: 8.33333333%
    }

    @media (min-width: 768px) {

        .col-sm-1,
        .col-sm-2,
        .col-sm-3,
        .col-sm-4,
        .col-sm-5,
        .col-sm-6,
        .col-sm-7,
        .col-sm-8,
        .col-sm-9,
        .col-sm-10,
        .col-sm-11,
        .col-sm-12 {
            float: left
        }

        .col-sm-12 {
            width: 100%
        }

        .col-sm-11 {
            width: 91.66666667%
        }

        .col-sm-10 {
            width: 83.33333333%
        }

        .col-sm-9 {
            width: 75%
        }

        .col-sm-8 {
            width: 66.66666667%
        }

        .col-sm-7 {
            width: 58.33333333%
        }

        .col-sm-6 {
            width: 50%
        }

        .col-sm-5 {
            width: 41.66666667%
        }

        .col-sm-4 {
            width: 33.33333333%
        }

        .col-sm-3 {
            width: 25%
        }

        .col-sm-2 {
            width: 16.66666667%
        }

        .col-sm-1 {
            width: 8.33333333%
        }
    }

    @media (min-width: 992px) {

        .col-md-1,
        .col-md-2,
        .col-md-3,
        .col-md-4,
        .col-md-5,
        .col-md-6,
        .col-md-7,
        .col-md-8,
        .col-md-9,
        .col-md-10,
        .col-md-11,
        .col-md-12 {
            float: left
        }

        .col-md-12 {
            width: 100%
        }

        .col-md-11 {
            width: 91.66666667%
        }

        .col-md-10 {
            width: 83.33333333%
        }

        .col-md-9 {
            width: 75%
        }

        .col-md-8 {
            width: 66.66666667%
        }

        .col-md-7 {
            width: 58.33333333%
        }

        .col-md-6 {
            width: 50%
        }

        .col-md-5 {
            width: 41.66666667%
        }

        .col-md-4 {
            width: 33.33333333%
        }

        .col-md-3 {
            width: 25%
        }

        .col-md-2 {
            width: 16.66666667%
        }

        .col-md-1 {
            width: 8.33333333%
        }
    }

    @media (min-width: 1200px) {

        .col-lg-1,
        .col-lg-2,
        .col-lg-3,
        .col-lg-4,
        .col-lg-5,
        .col-lg-6,
        .col-lg-7,
        .col-lg-8,
        .col-lg-9,
        .col-lg-10,
        .col-lg-11,
        .col-lg-12 {
            float: left
        }

        .col-lg-12 {
            width: 100%
        }

        .col-lg-11 {
            width: 91.66666667%
        }

        .col-lg-10 {
            width: 83.33333333%
        }

        .col-lg-9 {
            width: 75%
        }

        .col-lg-8 {
            width: 66.66666667%
        }

        .col-lg-7 {
            width: 58.33333333%
        }

        .col-lg-6 {
            width: 50%
        }

        .col-lg-5 {
            width: 41.66666667%
        }

        .col-lg-4 {
            width: 33.33333333%
        }

        .col-lg-3 {
            width: 25%
        }

        .col-lg-2 {
            width: 16.66666667%
        }

        .col-lg-1 {
            width: 8.33333333%
        }
    }

    .nav:after,
    .nav:before,
    .modal-header:before,
    .modal-header:after,
    .modal-footer:before,
    .modal-footer:after,
    .clearfix:before,
    .clearfix:after,
    .container:before,
    .container:after,
    .container-fluid:before,
    .container-fluid:after,
    .row:before,
    .row:after {
        content: " ";
        display: table
    }

    .nav:after,
    .modal-header:after,
    .modal-footer:after,
    .clearfix:after,
    .container:after,
    .container-fluid:after,
    .row:after {
        clear: both
    }

    .text-justify {
        text-align: justify
    }

    .text-center {
        text-align: center
    }

    .text-left {
        text-align: left
    }

    .text-right {
        text-align: right
    }

    .img-responsive {
        display: block;
        max-width: 100%;
        margin: 0 auto
    }

    .pull-right {
        float: right !important
    }

    .pull-left {
        float: left !important
    }

    .img-left {
        float: left;
        margin: 0 10px 10px 0
    }

    .img-right {
        float: right;
        margin: 0 0 10px 10px
    }

    .red-color {
        color: red !important
    }

    .font-12 {
        font-size: 12px
    }

    #breadcrumb {
        margin: 3px 0;
        display: inline-block;
        font-size: 12px
    }

    #breadcrumb div {
        display: inline
    }

    #breadcrumb a {
        text-decoration: none
    }

    #breadcrumb,
    #breadcrumb a {
        color: #6d6d6d
    }

    #breadcrumb a:hover {
        color: #909090;
        text-decoration: none
    }

    .menu-footer-mobile {
        display: none;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
        white-space: nowrap;
        background: #d8d8d8;
        padding: 0;
        margin: 0
    }

    .menu-footer-mobile li {
        float: left;
        width: 25%;
        display: block
    }

    .menu-footer-mobile li a,
    .menu-footer-mobile li button {
        display: block;
        height: 49px
    }

    .menu-footer-mobile li button {
        border: 0;
        width: 100%
    }

    .mm-call {
        background: url(assets/img/icons/mm-phone-icon.png) no-repeat center center
    }

    .mm-whatsapp {
        background: url(assets/img/icons/mm-whatsapp-icon.png) no-repeat center center
    }

    .mm-email {
        background: url(assets/img/icons/mm-email-icon.png) no-repeat center center
    }

    .mm-up-to-top {
        background: url(assets/img/icons/mm-up-icon.png) no-repeat center center
    }

    @media screen and (max-width:40em) {
        .menu-footer-mobile {
            display: block
        }

        footer {
            margin-bottom: 49px
        }
    }

    .slicknav_btn {
        position: relative;
        display: block;
        vertical-align: middle;
        float: right;
        padding: .438em .625em;
        line-height: 1.125em;
        cursor: pointer
    }

    .slicknav_btn .slicknav_icon-bar+.slicknav_icon-bar {
        margin-top: .188em
    }

    .slicknav_menu .slicknav_menutxt {
        display: block;
        line-height: 1.188em;
        float: left
    }

    .slicknav_menu .slicknav_icon {
        float: left;
        width: 1.125em;
        height: .875em;
        margin: .188em 0 0 .438em
    }

    .slicknav_menu .slicknav_icon:before {
        background: transparent;
        width: 1.125em;
        height: .875em;
        display: block;
        content: "";
        position: absolute
    }

    .slicknav_menu .slicknav_no-text {
        margin: 0
    }

    .slicknav_menu .slicknav_icon-bar {
        display: block;
        width: 1.125em;
        height: .125em;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        border-radius: 1px;
        -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25)
    }

    .slicknav_menu:before {
        content: " ";
        display: table
    }

    .slicknav_menu:after {
        content: " ";
        display: table;
        clear: both
    }

    .slicknav_nav {
        clear: both
    }

    .slicknav_nav ul {
        display: block
    }

    .slicknav_nav li {
        display: block
    }

    .slicknav_nav .slicknav_arrow {
        font-size: .8em;
        margin: 0 0 0 .4em
    }

    .slicknav_nav .slicknav_item {
        cursor: pointer
    }

    .slicknav_nav .slicknav_item a {
        display: inline
    }

    .slicknav_nav .slicknav_row {
        display: block
    }

    .slicknav_nav a {
        display: block
    }

    .slicknav_nav .slicknav_parent-link a {
        display: inline
    }

    .slicknav_brand {
        float: left
    }

    .slicknav_menu {
        font-size: 16px;
        box-sizing: border-box;
        padding: 5px
    }

    .slicknav_menu * {
        box-sizing: border-box
    }

    .slicknav_menu .slicknav_menutxt {
        color: #fff;
        font-weight: 700;
        text-shadow: 0 1px 3px #000
    }

    .slicknav_menu .slicknav_icon-bar {
        background-color: #fff
    }

    .slicknav_btn {
        margin: 5px 5px 6px;
        text-decoration: none;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        background-color: #222
    }

    .slicknav_nav {
        color: #fff;
        margin: 0;
        padding: 0;
        font-size: .875em;
        list-style: none;
        overflow: hidden
    }

    .slicknav_nav ul {
        list-style: none;
        overflow: hidden;
        padding: 0;
        margin: 0 0 0 20px
    }

    .slicknav_nav .slicknav_row {
        padding: 5px 10px;
        margin: 2px 5px
    }

    .slicknav_nav .slicknav_row:hover {
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        background: #ccc;
        color: #fff
    }

    .slicknav_nav a {
        padding: 5px 10px;
        margin: 2px 5px;
        text-decoration: none;
        color: #fff
    }

    .slicknav_nav a:hover {
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        background: #ccc;
        color: #222
    }

    .slicknav_nav .slicknav_txtnode {
        margin-left: 15px
    }

    .slicknav_nav .slicknav_item a {
        padding: 0;
        margin: 0
    }

    .slicknav_nav .slicknav_parent-link a {
        padding: 0;
        margin: 0
    }

    .slicknav_brand {
        color: #fff;
        font-size: 18px;
        line-height: 30px;
        padding: 7px 12px;
        height: 44px
    }

    .slicknav_menu {
        display: none
    }

    @media screen and (max-width: 40em) {
        .menu {
            display: none
        }

        .slicknav_menu {
            display: block
        }
    }

    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        src: local('Roboto Light'), local('Roboto-Light'), url(assets/fonts/roboto/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
    }

    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        src: local('Roboto'), local('Roboto-Regular'), url(assets/fonts/roboto/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
    }

    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        src: local('Roboto Bold'), local('Roboto-Bold'), url(assets/fonts/roboto/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
    }

    body {
        font-family: 'Roboto', sans-serif
    }

    .header-top {
        background: linear-gradient(to right, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%), url(imagens/bg-header.jpg) no-repeat center;
        padding: 20px 0;
        background-size: cover
    }

    .header-bottom {
        background: #ff6a00;
        position: relative
    }

    .tel i {
        margin-right: 5px
    }

    header .tel a:hover {
        color: #ff6a00;
        transition: 0.4s all ease
    }

    span.divisor {
        margin: 0 10px;
        font-weight: 100;
        color: #444
    }

    header .logo {
        float: left
    }

    header .logo a {
        display: block;
        text-decoration: none
    }

    header .tel {
        float: right;
        font-size: 16px;
        font-weight: 600;
        margin-top: 50px;
        text-align: center
    }

    header .tel a {
        text-decoration: none;
        color: #444;
        transition: 0.4s all ease
    }

    header .redes {
        position: absolute;
        right: 10%;
        top: 0
    }

    .box-redes {
        padding: 0;
        text-align: center;
        display: flex;
        align-items: center
    }

    .border-l {
        border-left: 1px solid #d65900
    }

    .border-c {
        border: 1px solid #d65900;
        border-top: none;
        border-bottom: none
    }

    .border-r {
        border-right: 1px solid #d65900
    }

    .box-redes i {
        font-size: 20px;
        min-width: 20px;
        color: #fff;
        transition: 0.4s all ease
    }

    .box-redes a {
        padding: 19px 20px;
        transition: 0.4s all ease
    }

    .box-redes>a:hover {
        background: #444;
        transition: 0.4s all ease
    }

    .box-redes>a:hover>i {
        color: #ff6a00;
        transition: 0.4s all ease
    }

    .menu-list {
        padding: 0;
        margin: 0
    }

    .menu .menu-list,
    .menu .sub-menu {
        list-style: none
    }

    .menu a {
        color: #fff;
        text-decoration: none;
        display: block;
        cursor: pointer
    }

    .menu>.menu-list>li {
        display: inline;
        position: relative
    }

    .menu>.menu-list>li:hover>a {
        background: #292929;
        color: #ff6a00;
        transition: 0.4s all ease
    }

    .menu>.menu-list>li>a {
        display: inline-block;
        padding: 20px 20px;
        margin: 0;
        font-weight: 100;
        font-size: 15px;
        text-transform: uppercase;
        transition: 0.4s all ease
    }

    .menu>.menu-list>li:hover>.sub-menu {
        display: block
    }

    .menu>.menu-list>li>.sub-menu {
        position: absolute;
        right: -285px;
        min-width: 200px;
        z-index: 100;
        display: none;
        padding: 0
    }

    .menu>.menu-list>li>.sub-menu>li>a {
        padding: 10px 20px;
        background: #bd4e00;
        text-align: left
    }

    .menu>.menu-list>li>.sub-menu>li:hover>a {
        background: #292929
    }

    .menu>.menu-list>li>.sub-menu-2 {
        max-width: initial;
        width: 750px !important
    }

    .menu>.menu-list>li>.sub-menu-2>li {
        width: 250px;
        display: inline-block;
        float: left
    }

    .menu>.menu-list>li>.sub-menu-2>li>a {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 5px 5px;
        font-size: 13px;
        font-weight: 100
    }

    .slicknav_btn {
        background-color: #ff6a00
    }

    .slicknav_menu {
        background-color: #383838
    }

    .slicknav_brand a {
        color: #fff;
        font-size: 14px;
        display: block;
        padding: 0px 5px;
        font-weight: bold
    }

    .slicknav_brand a:active,
    .slicknav_brand a:hover,
    .slicknav_brand a:focus {
        text-decoration: none
    }

    .footer-top a {
        transition: 0.4s all ease;
        color: #fff;
        font-size: 14px
    }

    .footer-top a:hover {
        color: #d24b0b;
        transition: 0.4s all ease;
        text-decoration: none
    }

    .footer-top i {
        font-size: 20px
    }

    .footer-top span.divisor {
        margin: 0 5px
    }

    .footer-top {
        background: #171717;
        padding: 40px 0;
        color: #fff
    }

    .footer-bottom {
        padding: 10px 0;
        background: #000
    }

    .footer-bottom p {
        color: #fff;
        margin: 0;
        font-size: 14px
    }

    img.b2b {
        width: 60px
    }

    footer ul {
        list-style-type: none;
        padding: 0px
    }

    footer a {
        text-decoration: none
    }

    footer .ass-q {
        text-align: right;
        font-size: 14px;
        margin: 0
    }

    main.main-content h1 {
        padding-bottom: 8px;
        margin: 8px 0 0 0;
        border-bottom: 1px solid #efefef;
        font-size: 28px
    }

    main h2 {
        font-size: 22px
    }

    .sidebar-main h3 {
        padding: 0;
        margin: 0 0 2px
    }

    .sidebar-main h3 a {
        display: block;
        text-align: center;
        padding: 10px 0;
        text-decoration: none;
        color: #fff
    }

    .sidebar-main ul {
        padding: 0;
        margin: 0
    }

    .sidebar-main ul li {
        list-style-type: none;
        margin: 3px 0
    }

    .sidebar-main ul li a {
        font-size: 12px;
        text-decoration: none;
        display: block;
        padding: 8px 0 8px 6px;
        border-left: 2px solid #cccccc
    }

    .sidebar-main ul li a:hover {
        background-color: #f5f5f5
    }

    .active-link-sidebar {
        font-weight: bold
    }

    .faixa-contato {
        background: linear-gradient(to right, rgba(255, 82, 0, 0.8) 0%, rgba(3, 3, 2, 0.8) 100%), url(imagens/contato.jpg) center top no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-attachment: fixed;
        padding: 100px 0
    }

    .faixa-contato h3 {
        color: #fff;
        font-size: 25px;
        margin: 0;
        text-transform: uppercase;
        font-weight: 100;
        text-shadow: 0 0 10px #000
    }

    .btn-faixa a {
        font-size: 14px;
        color: #fff;
        border: solid 1px;
        padding: 10px 20px;
        text-decoration: none;
        transition: 0.4s all ease
    }

    .btn-faixa a:hover {
        background: #181818;
        color: #ff6a00;
        border-color: #181818;
        transition: 0.4s all ease
    }

    .btn-faixa {
        text-align: right;
        margin-top: 10px
    }

    .produtos {
        padding: 30px 0 80px
    }

    .box-produto {
        background: #f1f1f1;
        transition: 0.8s all ease-in-out
    }

    .box-produto:hover {
        transition: 0.4s all ease-in-out;
        box-shadow: 0 0 7px #9c9c9c
    }

    .img-full {
        width: 100%;
        margin: 0 auto
    }

    .box-img {
        border: solid 3px #ff6a00;
        position: relative
    }

    .box-img i {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: -30px;
        width: 60px;
        height: 60px;
        font-size: 25px;
        left: 50%;
        margin-left: -30px;
        background: #fff;
        border: solid 3px #ff6a00;
        border-radius: 50px;
        background: #ffffff;
        color: #ff6a00;
        transition: 0.8s all ease-in-out
    }

    .box-produto:hover i {
        background: #ff6a00;
        color: #fff;
        transition: 0.6s all ease-in-out;
        transform: rotateY(360deg)
    }

    .box-produto a {
        text-decoration: none;
        color: #171717
    }

    .content-txt h2 {
        margin: 0;
        text-align: center;
        font-weight: 400;
        margin-bottom: 20px;
        font-size: 22px;
        color: #171717
    }

    .box-produto:hover h2 {
        color: #ff6a00;
        transition: 0.4s all ease-in-out
    }

    .content-txt p {
        margin: 0;
        font-size: 14px;
        text-align: justify;
        font-weight: 100;
        color: #171717
    }

    .content-txt {
        padding: 40px 15px 30px 15px;
        min-height: 230px;
        border-top: none
    }

    .btn-ver-mais {
        text-align: center
    }

    .btn-ver-mais a {
        display: block;
        background: #383838;
        color: #fff;
        padding: 12px 20px;
        font-size: 13px;
        text-transform: uppercase;
        transition: 0.4s all ease-in-out
    }

    .btn-ver-mais a:hover {
        background: #ff6a00;
        transition: 0.4s all ease-in-out
    }

    .box-produto:hover .btn-ver-mais a {
        background: #ff6a00;
        transition: 0.4s all ease-in-out
    }

    @media screen and (max-width: 1140px) {
        .redes {
            display: none
        }

        header .tel {
            font-size: 12px
        }
    }

    @media screen and (max-width: 1200px) {
        header .tel {
            font-size: 13px
        }

        .menu>.menu-list>li>a {
            font-size: 13px
        }
    }

    @media screen and (max-width: 991px) {
        header .tel {
            float: initial;
            width: 100%;
            display: block;
            font-size: 15px;
            margin-top: 30px
        }

        header .logo {
            float: initial
        }
    }

    @media screen and (max-width: 40em) {

        .box-btn-modal-orcamento,
        .header-container-main {
            display: none
        }

        .box-info,
        .box-produto {
            margin-bottom: 30px
        }

        .btn-faixa {
            text-align: center;
            margin-top: 30px
        }
    }

    .box-contato-3 a {
        background: #36ba00;
        top: 43%
    }

    .box-contato-3 img {
        float: left;
        padding-right: 10px
    }

    .box-contato-3 p {
        margin-top: 12px !important;
        margin: 0;
        padding: 0
    }

    .box-contato-3 a {
        position: fixed;
        z-index: 9999;
        right: 0;
        height: 43px;
        display: block;
        padding: 0px 18px 18px 0px;
        font-weight: 400;
        text-decoration: none;
        color: #fff;
        width: 275px;
        margin-right: -218px;
        transition: 0.4s all ease
    }

    .box-contato-3 a {
        width: 210px;
        margin-right: -153px
    }

    .box-contato-3 a i {
        margin-right: 12px;
        font-size: 23px;
        text-shadow: 3px 4px 1px #292929
    }

    .box-contato-3 a:hover {
        margin-right: 0;
        transition: 0.4s all ease
    }

    .empresa {
        padding: 30px 0
    }

    .empresa p {
        margin: 0;
        margin-bottom: 20px;
        font-size: 15px
    }

    .empresa h2 {
        color: #ff6a00;
        font-weight: 100
    }